.headers{
    display: flex;
    justify-content: space-between;
    padding:20px 8em 20px 8em;
    background-color: white;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

span a{
    text-decoration: none;
    color: black;
}

.sing{
    width: 70px;
    height: 30px;
    border: 1px solid #ADE2DF;
    background-color: #ADE2DF;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    margin: 20px;
}
